body{
    background-color: bisque;
}

.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 20px;
    background-color: burlywood;
    border-bottom: 1px solid #333;
}
.logo img{
    width: 100px;
    height: auto;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar ul li{
    display: inline;
}
.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 4px;
}
.menu ul li a:hover {
    background-color: #007BFF;
    color: white;
}
.banner{
}
.container{
}
footer{
}

